:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent1-color: #d40000;
    --accent2-color: rgb(83, 83, 255);
    --other-color: #6d6d6d;
    --heading-font: 'Lalezar', cursive;
    --paragraph-font: 'Nunito';
}


body {
    font-size: 16px;
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    overflow: hidden scroll;

}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 15px;

}

p {
    text-align: justify;
}

header {
    background-color: var(--accent1-color);
    color: var(--other-color);
    font-size: 22px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-around;

}


main {  
    background-color: var(--primary-color);
}


h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2em;
}

h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-align: center;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    padding: .5rem;
}

/*a:focus {
    color: --secondary-color;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: .2rem;

}*/

nav {
    display: inline;
    padding: 1px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 29px 10px 0 10px;
    padding: 0;
}

nav ul a {
    border-radius: 3px 3px 0 0;
    color: var(--accent3-color);
    padding: 10px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
}

.active {
    background-color: var(--accent2-color);
    color: var(--secondary-color)
}



/*From  Peer Review: Final - Evaluate Home Page*/
.banner {
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/hero.jpg);
}




.courses {
    display: grid;
    grid-template-rows: 1fr;
}

.cardBeginners {
    display: grid;
    width: 320px;
    box-shadow: 1px 1px 4px 1px var(--other-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/1;
}

.cardIntermedium {
    display: grid;
    width: 320px;
    box-shadow: 1px 1px 4px 1px var(--other-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/2;
}

.cardAdvanced {
    display: grid;
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/2;
}

.cardBeginners p {
    margin: 15px;
}

.cardIntermedium p {
    margin: 15px;
}

.cardAdvanced p {
    margin: 15px;
}

.whoWeAre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whoWeAre p {
    text-align: justify;
    padding: 3em;
}

.whoWeAre img {
    padding: 3em;
    margin: auto;
}

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    padding: .8rem;
}

.social {
    grid-column: 3/3;
    grid-row: 1;
}

.social img {
    width: 50px;

}

.copyright {
    grid-column: 1/4;
    align-items: center;
    padding-left: 100px;
}

.whoWeAre img {
    margin: 50px;
    width: 50%;
    border: 5px solid var(--accent1-color);
}

.whereInvest {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: justify;
}


.wrapper p {
    text-align: justify;
    margin: auto;
    padding: 2em;
}

.futures img {
    max-width: 100%;
}

.binaryOptions img {
    max-width: 100%;
}

.forex img {
    max-width: 100%;
}

.stocks img {
    max-width: 100%;
}

.futures {
    display: grid;
    width: 240px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/1;
}

.binaryOptions {
    display: grid;
    width: 240px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/2;
}

.forex {
    display: grid;
    width: 240px;
    box-shadow: 1px 1px 4px 1px var(--other-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/2;
}

.stocks {
    display: grid;
    width: 240px;
    box-shadow: 1px 1px 4px 1px var(--other-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    overflow: hidden;
    grid-row: 1/2;
}

.futures p {
    margin: 25px auto;
    width: 90%;
}

.binaryOptions p {
    margin: 25px auto;
    width: 90%;
}

.forex p {
    margin: 25px auto;
    width: 90%;
}

.stocks p {
    margin: 25px auto;
    width: 90%;
}

.message {
    padding: 2em;
}

#name,
#mail,
#number,
#cardname,
#cardnumber,
#expirationdate,
#cvv,
#cardtype,
#coursetype,
#phone {
    padding: 0.5em;
    display: flex;

}

.price {
    text-align: right;
    padding: 1em;
}

@media screen and (max-width: 550px) {

    body,
    header,
    main,
    footer,
    .banner,
    .wrapper,
    .courses,
    .active,
    .whereInvest,
    .message,
    .whoWeAre {
        display: block;
    }
}