body {
    font-size: 16px;
    background-color: cadetblue;

}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-weight: 900;
    font-family: Roboto, Noto Sants, Baloo 2;

}

header {
    background-color: paleturquoise;
    color: mediumaquamarine;

}

main section p {
    margin: 5px;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #eee;
}